body {
	text-align: center;
	background-color: rgb(240, 240, 240);
}

h1 {
	margin-bottom: 0px;
}

h3 {
	margin-top: 0px;
}

canvas {
	border: 1px solid black;
	background-color: white;
}